{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
		<article class="blog-post">
			<span class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></span>
			<time datetime="{{ article.date }}" class="blog-post-date">{% include 'article_infos.html' %}</time>
			<div class="blog-post-content">
			{{ article.content }}
			</div>
		</article>
{% endblock %}

