{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
	{% for article in articles_page.object_list %}
		<article class="blog-post">
			<span class="blog-post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title}}</a></span>
			<time class="blog-post-date">{% include 'article_infos.html' %}</time>
			<div class="blog-post-content">
				{{ article.summary }}
			</div>
			<a href="{{ SITEURL }}/{{ article.url }}">Read More</a>
		</article>
    {% if loop.last %}
        {% if loop.last and (articles_page.has_previous()
        or not articles_page.has_previous() and loop.length > 1) %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}
	{% endfor %}
{% endif %}
{% endblock content %}