{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
	{% for article in articles_page.object_list %}
	<span class="blogPostHeader"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></span>
	<span class="blogPostDate">{% include 'article_infos.html' %}</span>
	<div class="blogPost">
		{{ article.summary }}
		<a href="{{ SITEURL }}/{{ article.url }}">Read More</a>
	</div>
    {% if loop.last %}
        {% if loop.last and (articles_page.has_previous()
        or not articles_page.has_previous() and loop.length > 1) %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}
	{% endfor %}
{% endif %}
{% endblock content %}